<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Jedi</title>
</head>
<body>
    <h1>Come on to good force's side!</h1>

    <form th:action="@{/}" th:object="${jedi}" method="post">
        <input type="text" id="name" th:field="*{name}" th:placeholder="Name"/> <br>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span> <br>

        <input type="text" id="lastName" th:field="*{lastName}" th:placeholder="Last_Name"> <br>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</span> <br>
        <button type="submit">Register Jedi</button>
    </form>

    <a th:href="@{/}">Voltar</a>
</body>
</html>